@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.no-scrollbar {
  scrollbar-width: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  /* border: 2px solid red */
  /* background-color: rgb(194, 47, 47); */
}
