.testimonial-swiper .swiper-pagination-bullet {
  background: #d1d5db;
  opacity: 1;
}

.testimonial-swiper .swiper-pagination-bullet-active {
  background: #b5246c;
}

.testimonial-swiper .swiper-slide {
  height: auto;
}